/* -------------------------google font ------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
}
h1{
    text-align: center;
    margin-top: 20px;
} 
